@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@media (max-width: 576px) {
  .container-sm, .container {
    max-width: 90vw;
  }
}
:root {
  --beige: #F0EFE9;
  --black: #191919;
  --yellow: #F9D783;
  --orange: #F95729;
  --grey: #666666;
  --blue: #BEEBFF;
  --sand: #F0EFE9;
}

body, html {
  font-family: "Inter", sans-serif;
}

p {
  font-weight: normal;
  font-style: normal;
  line-height: 1.8;
}

@media (min-width: 1400px) {
  h1 {
    font-size: 60pt;
  }
}
@media (max-width: 1400px) and (min-width: 992px) {
  h1 {
    font-size: 50pt;
  }
}
@media (max-width: 992px) and (min-width: 576px) {
  h1 {
    font-size: 37pt;
  }
}
@media (max-width: 576px) {
  h1 {
    font-size: 27pt;
  }
}

h2 {
  font-weight: 700;
  padding: 1rem 0;
  font-weight: 700;
}
@media (min-width: 992px) {
  h2 {
    font-size: 30pt;
  }
}
@media (max-width: 992px) and (min-width: 576px) {
  h2 {
    font-size: 27pt;
  }
}
@media (max-width: 576px) {
  h2 {
    font-size: 21pt;
  }
}

h4 {
  color: var(--orange);
  font-size: 14pt;
}

h5 {
  font-weight: bold;
}

@keyframes upDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes leftRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scaleRotate {
  0% {
    transform: translateX(103) scale(0);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
header {
  display: flex;
  background-color: #F0EFE9;
}
header .container {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
header .container .logo-container {
  margin-right: 60px;
}
header .container .nav-container {
  flex: 1;
  animation: upDown 0.3s ease-in;
}
@media (max-width: 992px) {
  header .container .nav-container .navbar-icon {
    justify-content: end;
    font-size: 18pt;
    float: right;
  }
  header .container .nav-container .nav-contact-container {
    display: none;
  }
  header .container .nav-container .header-bot {
    display: none;
  }
}
@media (min-width: 992px) {
  header .container .nav-container .navbar-icon {
    display: none;
  }
  header .container .nav-container .nav-contact-container {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #dddddd;
    margin-bottom: 25px;
  }
  header .container .nav-container .nav-contact-container .header-contact {
    display: flex;
  }
  header .container .nav-container .nav-contact-container .header-contact address {
    font-weight: 300;
    border-right: #dddddd solid 1px;
    padding-right: 20px;
    margin-right: 20px;
  }
  header .container .nav-container .nav-contact-container .header-contact i {
    font-size: 14pt;
    margin-right: 1rem;
  }
  header .container .nav-container .nav-contact-container .header-contact .last {
    border-right: none;
  }
  header .container .nav-container .nav-contact-container .header-social i {
    margin-left: 10px;
    font-size: 14pt;
    color: #191919;
  }
  header .container .nav-container .nav-contact-container .header-social i:hover {
    color: #616161;
  }
  header .container .nav-container .header-bot {
    display: flex;
    justify-content: space-between;
  }
  header .container .nav-container .header-bot .header-nav {
    padding-top: 20px;
  }
  header .container .nav-container .header-bot .header-nav a {
    margin-right: 20px;
    color: var(--black);
    font-weight: 500;
    text-decoration: none;
    position: relative;
  }
  header .container .nav-container .header-bot .header-nav a:active::after, header .container .nav-container .header-bot .header-nav a:hover::after {
    position: absolute;
    content: "";
    font-weight: 600;
    height: 2px;
    width: 15px;
    background-color: var(--black);
    left: 50%;
    bottom: -3px;
    transform: translate(calc(50% - 15px));
  }
  header .container .nav-container .header-bot .btn-login {
    border: 0;
    border-radius: 25px;
    background-color: var(--yellow);
    padding: 10px 20px;
    font-weight: 500;
    transition: 0.2s;
  }
  header .container .nav-container .header-bot .btn-login i {
    transform: rotate(-45deg);
    margin-left: 10px;
  }
  header .container .nav-container .header-bot .btn-login:hover {
    background-color: var(--black);
    color: var(--beige);
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  header .container .nav-container .navbar-icon {
    display: none;
  }
  header .container .nav-container .nav-contact-container {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px var(--grey);
    padding-bottom: 10px;
    margin-bottom: 25px;
  }
  header .container .nav-container .nav-contact-container .header-contact {
    display: flex;
  }
  header .container .nav-container .nav-contact-container .header-contact address {
    font-weight: 300;
    border-right: var(--grey) solid 1px;
    padding-right: 10px;
    margin-right: 10px;
  }
  header .container .nav-container .nav-contact-container .header-contact i {
    font-size: 14pt;
  }
  header .container .nav-container .nav-contact-container .header-social i {
    display: none;
    margin-left: 7px;
    font-size: 14pt;
  }
  header .container .nav-container .header-bot {
    display: flex;
    justify-content: space-between;
  }
  header .container .nav-container .header-bot .header-nav {
    padding-top: 20px;
  }
  header .container .nav-container .header-bot .header-nav a {
    margin-right: 20px;
    color: var(--black);
    font-weight: 500;
    text-decoration: none;
  }
  header .container .nav-container .header-bot .btn-login {
    border: 0;
    border-radius: 25px;
    background-color: var(--yellow);
    padding: 10px 20px;
    font-weight: 500;
  }
  header .container .nav-container .header-bot .btn-login i {
    transform: rotate(-45deg);
    margin-left: 12px;
  }
}

.showcase {
  background-color: var(--beige);
  position: relative;
  overflow: hidden;
}
.showcase .showcase-container {
  z-index: -1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 1200px) {
  .showcase .showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem 0;
  }
}
.showcase .showcase-container .content {
  z-index: 1;
  position: relative;
}
.showcase .showcase-container .content h1 {
  animation: leftRight 0.7s cubic-bezier(0.42, 0, 0.56, 1.63);
}
@media (min-width: 1400px) {
  .showcase .showcase-container .content h1 {
    font-size: 60pt;
  }
}
@media (max-width: 1400px) and (min-width: 992px) {
  .showcase .showcase-container .content h1 {
    font-size: 50pt;
  }
}
@media (max-width: 992px) and (min-width: 576px) {
  .showcase .showcase-container .content h1 {
    font-size: 37pt;
  }
}
@media (max-width: 576px) {
  .showcase .showcase-container .content h1 {
    font-size: 27pt;
  }
}
.showcase .showcase-container .content p {
  transform: translateX(0);
  animation: leftRight 0.7s 0.2s cubic-bezier(0.42, 0, 0.56, 1.63) forwards;
  font-size: 13pt;
  margin: 2em 0;
}
.showcase .showcase-container .content .btn-consult {
  transform: scale(0);
  animation: scale 0.3s 0.8s ease-in forwards;
  background-color: var(--yellow);
  border-radius: 25px;
  border: 0;
  padding: 15px 30px;
  font-weight: 500;
  transition: 0.2s;
  margin-right: 10px;
}
.showcase .showcase-container .content .btn-consult i {
  transform: rotate(-45deg);
  margin-left: 10px;
}
.showcase .showcase-container .content .btn-consult:hover {
  background-color: #191919;
  color: var(--beige);
}
@media (max-width: 1200px) {
  .showcase .showcase-container .content .btn-consult {
    margin-right: 0;
  }
}
.showcase .showcase-container .content .btn-learn {
  transform: scale(0);
  animation: scale 0.3s 1s ease-in forwards;
  z-index: 1;
  background-color: var(--beige);
  border: solid 1px var(--black);
  border-radius: 25px;
  padding: 15px 30px;
  font-weight: 500;
  transition: 0.2s;
}
.showcase .showcase-container .content .btn-learn i {
  transform: rotate(-45deg);
  margin-left: 10px;
}
.showcase .showcase-container .content .btn-learn:hover {
  background-color: #191919;
  color: var(--beige);
}
@media (max-width: 1200px) {
  .showcase .showcase-container .content button {
    margin-bottom: 10px;
    margin-right: 0;
    margin-left: 0;
    width: 15rem;
  }
}
.showcase .showcase-container .img-bg {
  display: none;
  transform: translateX(103%) scale(0);
  animation: scaleRotate 1.6s 0.3s cubic-bezier(0.42, 0, 0.56, 1.63) forwards;
}
@media (min-width: 1201px) {
  .showcase .showcase-container .img-bg {
    display: block;
    margin-right: -5%;
  }
}
.showcase .img-vector-thick {
  position: absolute;
  bottom: -2%;
  left: -7%;
  height: auto;
  max-width: 30rem;
  display: none;
  transform: translateX(-100%);
  animation: leftRight 1s forwards;
}
@media (min-width: 1200px) {
  .showcase .img-vector-thick {
    display: inline;
  }
}
.showcase .img-vector-thin {
  position: absolute;
  left: -15%;
  bottom: -13%;
  transform: rotate(-3deg);
  z-index: 0;
  display: none;
  transform: scale(0);
  animation: scale 3s forwards;
}
@media (min-width: 1200px) {
  .showcase .img-vector-thin {
    display: inline;
  }
}

.main {
  background-color: white;
}
.main .brands {
  animation: scale 3s 1.7s forwards;
  transform: scale(0);
  padding: 5rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 990px) {
  .main .brands {
    display: none;
  }
}
.main .features-wrapper {
  display: flex;
  justify-content: center;
}
@media (max-width: 1500px) {
  .main .features-wrapper {
    border-top: solid #dddddd 2px;
    border-bottom: solid #dddddd 2px;
  }
}
@media (min-width: 1500px) {
  .main .features-wrapper .features-border {
    border: solid #dddddd 2px;
  }
}
.main .features-wrapper .features-border .features {
  display: grid;
  grid-template-columns: 3fr 4fr;
  -moz-column-gap: 6rem;
       column-gap: 6rem;
  margin-top: 6rem;
  margin-bottom: 6rem;
}
@media (min-width: 1500px) {
  .main .features-wrapper .features-border .features {
    margin: 6rem;
  }
}
@media (max-width: 1200px) {
  .main .features-wrapper .features-border .features {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    -moz-column-gap: 0;
         column-gap: 0;
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
  }
}
@media (max-width: 1200px) and (max-width: 576px) {
  .main .features-wrapper .features-border .features {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
  }
}
@media (max-width: 1200px) {
  .main .features-wrapper .features-border .features .features-text {
    grid-column: 1/-1;
  }
}
.main .features-wrapper .features-border .features .features-text h2 {
  padding: 1rem 0;
  font-weight: 700;
}
@media (min-width: 992px) {
  .main .features-wrapper .features-border .features .features-text h2 {
    font-size: 30pt;
  }
}
@media (max-width: 992px) and (min-width: 576px) {
  .main .features-wrapper .features-border .features .features-text h2 {
    font-size: 27pt;
  }
}
@media (max-width: 576px) {
  .main .features-wrapper .features-border .features .features-text h2 {
    font-size: 21pt;
  }
}
.main .features-wrapper .features-border .features .features-text button {
  text-decoration: none;
  color: var(--black);
  background-color: var(--yellow);
  border: 0;
  border-radius: 25px;
  padding: 15px 30px;
  margin-top: 2rem;
  font-weight: 500;
  transition: 0.2s;
  width: 100%;
}
@media (max-width: 1200px) {
  .main .features-wrapper .features-border .features .features-text button {
    display: none;
  }
}
.main .features-wrapper .features-border .features .features-text button i {
  transform: rotate(-45deg);
  margin-left: 10px;
}
.main .features-wrapper .features-border .features .features-text button:hover {
  background-color: #191919;
  color: var(--beige);
}
.main .features-wrapper .features-border .features .features-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  row-gap: 1rem;
}
@media (max-width: 1200px) {
  .main .features-wrapper .features-border .features .features-grid {
    margin-top: -1rem;
    grid-column: 1/2;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 0;
  }
}
@media (max-width: 1200px) and (max-width: 991px) {
  .main .features-wrapper .features-border .features .features-grid {
    margin-top: -2.5rem;
  }
}
@media (max-width: 1200px) and (max-width: 991px) and (max-width: 768px) {
  .main .features-wrapper .features-border .features .features-grid {
    margin-top: -5rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1200px) and (max-width: 991px) and (max-width: 768px) and (max-width: 576px) {
  .main .features-wrapper .features-border .features .features-grid {
    margin-top: -14rem;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 1200px) and (max-width: 991px) and (max-width: 768px) and (max-width: 576px) and (max-width: 498px) {
  .main .features-wrapper .features-border .features .features-grid {
    margin-top: -18rem;
    grid-template-columns: 1fr;
  }
}
.main .features-wrapper .features-border .features .features-grid i {
  font-size: 27pt;
  padding: 0 0 2rem 0;
  color: var(--black);
}
.main .features-wrapper .features-border .features .features-grid p {
  margin-top: 1rem;
  color: #a0a0a0;
}
.main .features-wrapper .features-border .features .learn-more-small {
  text-decoration: none;
  color: var(--black);
  background-color: var(--yellow);
  border: 0;
  border-radius: 25px;
  padding: 15px 30px;
  margin-top: 3rem;
  font-weight: 500;
  transition: 0.2s;
  width: 100%;
}
@media (min-width: 1200px) {
  .main .features-wrapper .features-border .features .learn-more-small {
    display: none;
  }
}
@media (max-width: 1200px) and (min-width: 991px) {
  .main .features-wrapper .features-border .features .learn-more-small {
    width: 40%;
    justify-self: center;
  }
}
.main .features-wrapper .features-border .features .learn-more-small i {
  transform: rotate(-45deg);
  margin-left: 10px;
}
.main .features-wrapper .features-border .features .learn-more-small:hover {
  background-color: #191919;
  color: var(--beige);
}
.main .about .about-company {
  display: grid;
  grid-template-columns: 3fr 2fr;
  margin-top: 6rem;
  margin-bottom: 6rem;
}
@media (max-width: 1200px) {
  .main .about .about-company {
    margin-bottom: 0;
  }
}
@media (max-width: 1200px) and (max-width: 992px) {
  .main .about .about-company {
    text-align: center;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 1200px) and (max-width: 992px) and (max-width: 576px) {
  .main .about .about-company {
    margin: 3rem auto 0rem auto;
  }
}
.main .about .about-company .about-img {
  position: relative;
  display: flex;
}
@media (max-width: 992px) {
  .main .about .about-company .about-img {
    display: none;
  }
}
.main .about .about-company .about-img #founder-img {
  position: absolute;
  width: 533px;
  height: auto;
  margin-left: 4rem;
  justify-self: center;
}
@media (max-width: 1200px) {
  .main .about .about-company .about-img #founder-img {
    width: 430px;
  }
}
.main .about .about-company .about-img #white-graphic {
  position: absolute;
  top: 2rem;
}
.main .about .about-company .about-img #info-card {
  position: absolute;
  background-color: var(--blue);
  margin-top: 55%;
  padding: 2rem;
  width: 25rem;
  box-shadow: -5px 5px 20px 7px rgba(0, 0, 0, 0.142);
}
.main .about .about-company .about-img #info-card h5 span {
  color: var(--orange);
  font-size: 12pt;
}
.main .about .about-company .about-text h2 {
  margin-bottom: 2rem;
}
.main .about .about-company .about-text p {
  color: var(--grey);
  margin-bottom: 2rem;
}
.main .about .about-company .about-text .btn-learn {
  display: none;
}
@media (min-width: 1200px) {
  .main .about .about-company .about-text .btn-learn {
    display: inline;
    color: var(--beige);
    background-color: #191919;
    border: solid 1px var(--black);
    border-radius: 25px;
    padding: 15px 30px;
    font-weight: 500;
    transition: 0.2s;
    margin-top: 5rem;
  }
  .main .about .about-company .about-text .btn-learn i {
    transform: rotate(-45deg);
    margin-left: 10px;
  }
  .main .about .about-company .about-text .btn-learn:hover {
    background-color: transparent;
    color: var(--black);
  }
}
@media (min-width: 1200px) and (max-width: 1200px) {
  .main .about .about-company .about-text .btn-learn {
    margin-top: 0;
  }
}
.main .about .about-company .about-text .btn-play {
  display: none;
}
@media (min-width: 1200px) {
  .main .about .about-company .about-text .btn-play {
    display: inline;
    background-color: transparent;
    border: 0;
    transition: 0.2s;
    margin-left: 1rem;
  }
  .main .about .about-company .about-text .btn-play i {
    font-size: 10pt;
    border: 1px var(--black) solid;
    border-radius: 50%;
    padding: 1rem;
    margin-right: 1rem;
  }
  .main .about .about-company .about-text .btn-play:hover i {
    background-color: #191919;
    color: var(--beige);
  }
  .main .about .about-company .about-text .btn-play:hover {
    text-decoration: underline;
  }
}
.main .about .btn-container-scale {
  display: flex;
  justify-content: center;
}
@media (max-width: 406px) {
  .main .about .btn-container-scale {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .main .about .btn-container-scale {
    margin-bottom: -2rem;
  }
}
.main .about .btn-container-scale .btn-learn-scale {
  display: none;
}
@media (max-width: 1200px) {
  .main .about .btn-container-scale .btn-learn-scale {
    display: inline;
    color: var(--beige);
    background-color: #191919;
    border: solid 1px var(--black);
    border-radius: 25px;
    padding: 15px 30px;
    transition: 0.2s;
    width: 15rem;
  }
  .main .about .btn-container-scale .btn-learn-scale i {
    transform: rotate(-45deg);
    margin-left: 10px;
  }
  .main .about .btn-container-scale .btn-learn-scale:hover {
    background-color: transparent;
    color: var(--black);
  }
}
.main .about .btn-container-scale .btn-play-scale {
  display: none;
}
@media (max-width: 1200px) {
  .main .about .btn-container-scale .btn-play-scale {
    display: flex;
    background-color: transparent;
    border: 0;
    transition: 0.2s;
    margin-left: 1rem;
    width: 15rem;
    align-items: center;
  }
}
@media (max-width: 1200px) and (max-width: 406px) {
  .main .about .btn-container-scale .btn-play-scale {
    justify-content: center;
    margin: 1rem 0 0 0;
  }
}
@media (max-width: 1200px) {
  .main .about .btn-container-scale .btn-play-scale i {
    font-size: 10pt;
    border: 1px var(--black) solid;
    border-radius: 50%;
    padding: 1rem;
    margin-right: 1rem;
  }
  .main .about .btn-container-scale .btn-play-scale:hover i {
    background-color: #191919;
    color: var(--beige);
  }
  .main .about .btn-container-scale .btn-play-scale:hover {
    text-decoration: underline;
  }
}
.main .our-services {
  background-color: #F0EFE9;
  padding: 6rem 0;
  margin: 6rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
@media (max-width: 576px) {
  .main .our-services {
    padding: 3rem 0;
  }
}
@media (max-width: 992px) {
  .main .our-services .our-services-container {
    text-align: center;
  }
}
.main .our-services .our-services-container .service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
  margin-top: 2rem;
}
.main .our-services .our-services-container .service-grid div {
  background-color: white;
  padding: 3rem 2rem;
  transition: 0.3s;
}
@media (max-width: 992px) {
  .main .our-services .our-services-container .service-grid div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.main .our-services .our-services-container .service-grid div:hover {
  background-color: var(--yellow);
}
.main .our-services .our-services-container .service-grid div span {
  color: transparent;
  border-bottom: 2px solid var(--black);
}
.main .our-services .our-services-container .service-grid div h5 {
  margin-top: 40px;
}
.main .our-services .our-services-container .service-grid div button {
  background-color: #191919;
  color: var(--beige);
  border-radius: 50%;
  float: right;
  border: 0;
  padding: 20px;
  margin-top: 1rem;
  transition: 0.3s;
  display: flex;
}
@media (max-width: 992px) {
  .main .our-services .our-services-container .service-grid div button {
    float: none;
  }
}
.main .our-services .our-services-container .service-grid div button:hover {
  background-color: white;
  color: var(--black);
}
.main .our-services .our-services-container .service-grid div button i {
  font-size: 16pt;
  font-weight: 300;
}
.main .our-services .btn-browse {
  color: var(--black);
  background-color: transparent;
  border: solid 1px var(--black);
  border-radius: 25px;
  padding: 15px 30px;
  transition: 0.2s;
  margin-top: 3rem;
}
.main .our-services .btn-browse i {
  transform: rotate(-45deg);
  margin-left: 10px;
}
.main .our-services .btn-browse:hover {
  background-color: var(--black);
  color: var(--beige);
}
.main .our-services .img-vector-thick {
  position: absolute;
  bottom: -2%;
  right: -7%;
  height: auto;
  max-width: 30rem;
  z-index: -1;
  display: none;
  transform: scaleX(-1);
}
@media (min-width: 1500px) {
  .main .our-services .img-vector-thick {
    display: inline;
  }
}
.main .our-services .img-vector-thin {
  position: absolute;
  right: -15%;
  bottom: -13%;
  transform: rotate(-3deg);
  z-index: -1;
  display: none;
  transform: scaleX(-1);
}
@media (min-width: 1500px) {
  .main .our-services .img-vector-thin {
    display: inline;
  }
}
.main .why-choose-us {
  position: relative;
  padding: 6rem 0;
  z-index: 0;
}
@media (max-width: 1200px) {
  .main .why-choose-us {
    padding-top: 0;
    padding-bottom: 2rem;
  }
}
@media (max-width: 1200px) and (max-width: 992px) {
  .main .why-choose-us {
    text-align: center;
  }
}
@media (max-width: 1200px) and (max-width: 992px) and (max-width: 576px) {
  .main .why-choose-us {
    padding: -2rem 0 1rem 0;
  }
}
.main .why-choose-us .why-choose-us-container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .main .why-choose-us .why-choose-us-container {
    flex-direction: column;
  }
}
.main .why-choose-us .why-choose-us-container .why-text {
  background-color: white;
}
.main .why-choose-us .why-choose-us-container .why-text .reasons-container .reasons div {
  display: flex;
  margin: 3rem 0;
  align-items: center;
}
.main .why-choose-us .why-choose-us-container .why-text .reasons-container .reasons div i {
  border: solid 1px #dddddd;
  font-size: 16pt;
  padding: 1rem;
  border-radius: 50%;
  margin-right: 2rem;
}
.main .why-choose-us .why-choose-us-container .why-text .reasons-container .reasons div span {
  margin-bottom: -1rem;
}
@media (max-width: 1200px) {
  .main .why-choose-us .why-choose-us-container .why-text .reasons-container {
    display: none;
  }
}
.main .why-choose-us .why-choose-us-container div img {
  width: 665px;
  height: auto;
}
@media (max-width: 1200px) {
  .main .why-choose-us .why-choose-us-container div img {
    width: 400px;
    height: auto;
  }
}
@media (max-width: 1200px) and (max-width: 992px) {
  .main .why-choose-us .why-choose-us-container div img {
    display: none;
  }
}
.main .why-choose-us #beige-box {
  background-color: var(--sand);
  width: 55vw;
  height: 425px;
  position: absolute;
  right: 0;
  bottom: 8rem;
  z-index: -1;
}
@media (max-width: 1200px) {
  .main .why-choose-us #beige-box {
    display: none;
  }
}
.main .why-choose-us .reasons-container-scale {
  display: none;
}
@media (max-width: 1200px) {
  .main .why-choose-us .reasons-container-scale {
    display: block;
  }
  .main .why-choose-us .reasons-container-scale .reasons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: 0.3rem;
    margin-top: 1rem;
  }
  .main .why-choose-us .reasons-container-scale .reasons div {
    display: flex;
    margin: 3rem 0;
  }
}
@media (max-width: 1200px) and (max-width: 768px) {
  .main .why-choose-us .reasons-container-scale .reasons div {
    flex-direction: column;
    margin: 1rem 0;
  }
}
@media (max-width: 1200px) {
  .main .why-choose-us .reasons-container-scale .reasons div i {
    border: solid 1px #dddddd;
    font-size: 16pt;
    padding: 1rem;
    border-radius: 50%;
    margin-right: 1rem;
    align-self: center;
  }
}
@media (max-width: 1200px) and (max-width: 992px) {
  .main .why-choose-us .reasons-container-scale .reasons div i {
    margin-right: 0;
  }
}
@media (max-width: 1200px) and (max-width: 992px) and (max-width: 768px) {
  .main .why-choose-us .reasons-container-scale .reasons div i {
    margin-bottom: 1rem;
  }
}
@media (max-width: 1200px) {
  .main .why-choose-us .reasons-container-scale .reasons div span {
    margin-bottom: -1rem;
  }
}
@media (max-width: 1200px) and (max-width: 992px) {
  .main .why-choose-us .reasons-container-scale .reasons {
    margin-top: 0;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
}
.main .projects {
  margin-top: 2rem;
  padding-bottom: 6rem;
}
@media (max-width: 576px) {
  .main .projects {
    padding: 3rem 0;
    border-top: solid 1px #dddddd;
  }
}
.main .projects .projects-container {
  text-align: center;
}
.main .projects .projects-container .projects-grid-container {
  text-align: left;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 2rem;
}
@media (max-width: 576px) {
  .main .projects .projects-container .projects-grid-container {
    grid-template-columns: 1fr;
  }
}
.main .projects .projects-container .projects-grid-container .grid-item a {
  text-decoration: none;
  color: var(--black);
}
.main .projects .projects-container .projects-grid-container .grid-item a .item-container {
  border-bottom: #dddddd 2px solid;
  transition: 0.2s;
}
.main .projects .projects-container .projects-grid-container .grid-item a .item-container .img-container {
  overflow: hidden;
  max-height: 20em;
  transition: 0.2s;
}
.main .projects .projects-container .projects-grid-container .grid-item a .item-container .img-container img {
  max-width: 100%;
}
.main .projects .projects-container .projects-grid-container .grid-item a .item-container .img-container:hover {
  filter: brightness(50%);
}
.main .projects .projects-container .projects-grid-container .grid-item a .item-container h5 {
  margin: 2rem 0 1rem 0;
}
.main .projects .projects-container .projects-grid-container .grid-item a .item-container:hover h5 {
  text-decoration: underline;
}
.main .projects .projects-container .projects-grid-container .grid-item .btn-read {
  color: var(--black);
  font-size: 11pt;
  background-color: transparent;
  padding: 15px 30px;
  transition: 0.2s;
  border: 0;
  float: right;
  margin-top: 1rem;
}
.main .projects .projects-container .projects-grid-container .grid-item .btn-read i {
  transform: rotate(-45deg);
  margin-left: 10px;
}
.main .projects .projects-container .projects-grid-container .grid-item .btn-read:hover {
  text-decoration: underline;
}
.main .projects .projects-container .btn-all-projects {
  color: var(--beige);
  background-color: #191919;
  border: solid 1px var(--black);
  border-radius: 25px;
  padding: 15px 30px;
  transition: 0.2s;
  margin-top: 2rem;
}
.main .projects .projects-container .btn-all-projects i {
  transform: rotate(-45deg);
  margin-left: 10px;
}
.main .projects .projects-container .btn-all-projects:hover {
  background-color: transparent;
  color: var(--black);
}
.main .our-team {
  padding: 6rem 0;
  background-color: var(--yellow);
}
@media (max-width: 576px) {
  .main .our-team {
    padding: 3rem 0;
  }
}
.main .our-team .our-team-container .heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 992px) {
  .main .our-team .our-team-container .heading-container {
    flex-direction: column;
    text-align: center;
  }
}
.main .our-team .our-team-container .heading-container .btn-browse {
  color: var(--black);
  background-color: #fde29d;
  border: solid 1px var(--black);
  border-radius: 40px;
  padding: 15px 35px;
  transition: 0.2s;
}
.main .our-team .our-team-container .heading-container .btn-browse i {
  transform: rotate(-45deg);
  margin-left: 10px;
}
.main .our-team .our-team-container .heading-container .btn-browse:hover {
  background-color: var(--black);
  color: var(--beige);
}
.main .our-team .our-team-container .team-grid {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2rem;
}
@media (max-width: 768px) {
  .main .our-team .our-team-container .team-grid {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }
}
.main .our-team .our-team-container .team-grid .grid-item .img-container {
  height: 25em;
  overflow: hidden;
}
@media (max-width: 768px) {
  .main .our-team .our-team-container .team-grid .grid-item .img-container {
    max-height: 15em;
  }
}
.main .our-team .our-team-container .team-grid .grid-item .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.main .our-team .our-team-container .team-grid .grid-item h5 {
  margin-top: 2rem;
}
.main .our-team .our-team-container .dots {
  display: flex;
  justify-content: center;
}
.main .our-team .our-team-container .dots span {
  margin: 0 0.2rem;
  font-size: 60pt;
  color: rgba(158, 158, 158, 0.462745098);
  transition: 0.2s;
}
.main .our-team .our-team-container .dots span:hover {
  color: var(--black);
}
.main .testimonials {
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  padding-bottom: 6rem;
}
@media (max-width: 610px) {
  .main .testimonials {
    padding-bottom: 0;
  }
}
.main .testimonials .white-box {
  padding: 6vw;
  background-color: white;
}
.main .testimonials .white-box .testimonials-container {
  text-align: center;
}
@media (max-width: 610px) {
  .main .testimonials .white-box .testimonials-container {
    padding-top: 2rem;
  }
}
.main .testimonials .white-box .testimonials-container .grid-container {
  margin-top: 2rem;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
@media (max-width: 992px) {
  .main .testimonials .white-box .testimonials-container .grid-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
.main .testimonials .white-box .testimonials-container .grid-container .grid-item i {
  color: var(--orange);
  font-size: 10pt;
  margin-right: 0.1rem;
  margin: 1.5rem 0;
}
.main .testimonials .white-box .testimonials-container .grid-container .grid-item .title-container {
  display: flex;
  margin-top: 2rem;
}
@media (max-width: 992px) {
  .main .testimonials .white-box .testimonials-container .grid-container .grid-item .title-container {
    justify-content: center;
  }
}
.main .testimonials .white-box .testimonials-container .grid-container .grid-item .title-container .img-container {
  height: 70px;
  width: 70px;
  overflow: hidden;
  margin-right: 1rem;
}
.main .testimonials .white-box .testimonials-container .grid-container .grid-item .title-container .img-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
  border-radius: 50%;
}
.main .testimonials .white-box .testimonials-container .grid-container .grid-item .title-container .text-container p {
  color: var(--orange);
}
.main .testimonials .white-box .testimonials-container .btn-reviews {
  margin-top: 4rem;
  color: var(--beige);
  background-color: var(--black);
  border: solid 1px var(--black);
  border-radius: 40px;
  padding: 15px 35px;
  transition: 0.2s;
}
.main .testimonials .white-box .testimonials-container .btn-reviews i {
  transform: rotate(-45deg);
  margin-left: 10px;
}
.main .testimonials .white-box .testimonials-container .btn-reviews:hover {
  background-color: transparent;
  color: var(--black);
}
.main .news {
  background-color: white;
  padding: 5rem 0;
}
@media (max-width: 576px) {
  .main .news {
    padding: 3rem 0;
    border-top: solid 1px #dddddd;
  }
}
.main .news .news-container .heading-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .main .news .news-container .heading-container {
    flex-direction: column;
    text-align: center;
  }
}
.main .news .news-container .heading-container .btn-browse {
  color: var(--black);
  background-color: transparent;
  border: solid 1px var(--black);
  border-radius: 40px;
  padding: 15px 35px;
  transition: 0.2s;
  flex: end;
}
.main .news .news-container .heading-container .btn-browse i {
  transform: rotate(-45deg);
  margin-left: 10px;
}
.main .news .news-container .heading-container .btn-browse:hover {
  background-color: var(--black);
  color: var(--beige);
}
.main .news .news-container .news-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin-top: 2rem;
}
@media (max-width: 768px) {
  .main .news .news-container .news-grid {
    grid-template-columns: 1fr;
  }
}
.main .news .news-container .news-grid a {
  text-decoration: none;
  color: var(--black);
}
.main .news .news-container .news-grid a:hover {
  text-decoration: underline;
}
.main .news .news-container .news-grid a .grid-item .img-container {
  overflow: hidden;
  height: 14rem;
  z-index: 0;
  position: relative;
  margin-bottom: 1rem;
}
.main .news .news-container .news-grid a .grid-item .img-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
  z-index: -1;
  transition: 0.2s;
}
.main .news .news-container .news-grid a .grid-item .img-container img:hover {
  filter: brightness(50%);
}
.main .news .news-container .news-grid a .grid-item .img-container .yellow-box {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: var(--yellow);
  padding: 0.4rem;
  z-index: 1;
}
.main .news .news-container .news-grid a .grid-item h5 {
  margin: 1rem 0;
}
.main .news .news-container .dots {
  display: flex;
  justify-content: center;
}
.main .news .news-container .dots span {
  margin: 0 0.2rem;
  font-size: 60pt;
  color: rgba(158, 158, 158, 0.462745098);
  transition: 0.2s;
}
.main .news .news-container .dots span:hover {
  color: var(--black);
}
.main .signup {
  position: relative;
  background-color: var(--beige);
  padding: 6rem 0;
}
@media (max-width: 576px) {
  .main .signup {
    padding: 3rem 0;
  }
}
.main .signup .signup-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 992px) {
  .main .signup .signup-container {
    flex-direction: column;
    text-align: center;
  }
}
.main .signup .signup-container form {
  display: flex;
  justify-content: end;
  width: 40rem;
  z-index: 1;
  margin-top: 1rem;
}
@media (max-width: 992px) {
  .main .signup .signup-container form {
    width: auto;
  }
}
@media (max-width: 992px) and (max-width: 577px) {
  .main .signup .signup-container form {
    flex-direction: column;
    align-items: center;
  }
}
.main .signup .signup-container form input {
  padding: 15px 45px 15px 25px;
  border-radius: 35px;
  border: 0;
  margin-right: 1rem;
  transition: 0.1s;
}
@media (max-width: 577px) {
  .main .signup .signup-container form input {
    margin-bottom: 1rem;
    margin-right: 0;
    width: 100%;
  }
}
.main .signup .signup-container form button {
  background-color: var(--yellow);
  border: 0;
  padding: 15px 35px;
  border-radius: 35px;
  transition: 0.2s;
}
@media (max-width: 577px) {
  .main .signup .signup-container form button {
    margin-bottom: 1rem;
    margin-right: 0;
    width: 100%;
  }
}
.main .signup .signup-container form button i {
  transform: rotate(-45deg);
  margin-left: 10px;
}
.main .signup .signup-container form button:hover {
  background-color: var(--black);
  color: var(--beige);
}
.main .signup img {
  position: absolute;
  right: 0;
  bottom: 3rem;
}
@media (max-width: 768px) {
  .main .signup img {
    display: none;
  }
}

footer {
  background-color: #0E1021;
  color: #DBDAD4;
  position: relative;
  overflow: hidden;
}
footer .img-vector-thick {
  position: absolute;
  bottom: -2%;
  right: -10%;
  height: auto;
  max-width: 30rem;
  transform: scaleX(-1);
  opacity: 0.5;
}
footer .img-vector-thin {
  position: absolute;
  scale: 0.8;
  right: -24%;
  bottom: -24%;
  transform: rotate(-3deg);
  transform: scaleX(-1);
  opacity: 0.3;
}
footer .footer-container {
  padding: 6rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
}
@media (max-width: 576px) {
  footer .footer-container {
    align-items: center;
    text-align: center;
  }
}
footer .footer-container div {
  color: #b7b1b1;
}
footer .footer-container div h4 {
  margin-bottom: 2rem;
  color: var(--beige);
}
footer .footer-container div nav {
  display: flex;
  flex-direction: column;
}
footer .footer-container div nav a {
  text-decoration: none;
  color: #a8a8a8;
  margin: 0.5em 0;
}
footer .footer-container div nav a:hover {
  color: var(--beige);
  text-decoration: underline;
}
footer footer {
  border-top: #4d4d4d 1px solid;
  display: flex;
  overflow: hidden;
}
footer footer .bot-ruler-content {
  display: flex;
  padding: 1.5rem 0;
  justify-content: space-between;
  align-items: center;
}
footer footer .bot-ruler-content .footer-social {
  transition: 0.2s;
  overflow: hidden;
}
footer footer .bot-ruler-content .footer-social a {
  text-decoration: none;
  color: var(--beige);
}
footer footer .bot-ruler-content .footer-social a i {
  margin-left: 15px;
}
footer footer .bot-ruler-content .footer-social a:hover {
  color: var(--yellow);
}
@media (min-width: 1200px) {
  footer .footer-container {
    display: flex;
    padding: 6rem 0;
    justify-content: space-between;
  }
  footer .footer-container div {
    color: #b7b1b1;
  }
  footer .footer-container div h4 {
    margin-bottom: 2rem;
    color: var(--beige);
  }
  footer .footer-container div nav {
    display: flex;
    flex-direction: column;
  }
  footer .footer-container div nav a {
    text-decoration: none;
    color: #a8a8a8;
    margin: 0.5em 0;
  }
  footer .footer-container .nav-logo {
    max-width: 20rem;
  }
  footer footer {
    border-top: #4d4d4d 1px solid;
    display: flex;
  }
  footer footer .bot-ruler-content {
    display: flex;
    padding: 1.5rem 0;
    justify-content: space-between;
    align-items: center;
  }
  footer footer .bot-ruler-content .footer-social i {
    margin-left: 15px;
  }
}

.ctc-showcase {
  background-color: var(--beige);
  position: relative;
  overflow: hidden;
  padding: 5rem 0;
  text-align: center;
}
.ctc-showcase .ctc-showcase-container {
  z-index: -1;
}
.ctc-showcase .ctc-showcase-container a {
  text-decoration: none;
  color: var(--black);
  margin: 1rem;
  transition: 0.2s;
  position: relative;
}
.ctc-showcase .ctc-showcase-container a:active::after, .ctc-showcase .ctc-showcase-container a:hover::after {
  position: absolute;
  content: "";
  font-weight: 600;
  height: 2px;
  width: 15px;
  background-color: var(--black);
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
.ctc-showcase .ctc-showcase-container h1 {
  font-size: 50pt;
  margin-top: 1rem;
}
@media (max-width: 1400px) and (min-width: 992px) {
  .ctc-showcase .ctc-showcase-container h1 {
    font-size: 45pt;
  }
}
@media (max-width: 992px) and (min-width: 576px) {
  .ctc-showcase .ctc-showcase-container h1 {
    font-size: 34pt;
  }
}
@media (max-width: 576px) {
  .ctc-showcase .ctc-showcase-container h1 {
    font-size: 27pt;
  }
}
.ctc-showcase .img-vector-thick {
  position: absolute;
  bottom: -2%;
  left: -7%;
  height: auto;
  max-width: 30rem;
  display: none;
}
@media (min-width: 1500px) {
  .ctc-showcase .img-vector-thick {
    display: inline;
  }
}
.ctc-showcase .img-vector-thin {
  position: absolute;
  left: -15%;
  bottom: -13%;
  transform: rotate(-3deg);
  z-index: 0;
  display: none;
}
@media (min-width: 1500px) {
  .ctc-showcase .img-vector-thin {
    display: inline;
  }
}

.contact-container {
  padding: 3vh 0;
}
.contact-container .grid-container {
  margin-top: 3vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
@media (max-width: 992px) {
  .contact-container .grid-container {
    grid-template-columns: 1fr;
  }
}
.contact-container .grid-container .grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh 2vw;
  border: #dddddd solid 1.5px;
}
.contact-container .grid-container .grid-item i {
  font-size: 18pt;
  border-radius: 50%;
  background-color: var(--black);
  color: var(--beige);
  margin-right: 2rem;
  padding: 1rem;
}
.contact-container .grid-container .grid-item .text-container p {
  margin: 1rem 0;
}
.contact-container .form-container {
  background-color: var(--beige);
  text-align: center;
  margin: 5em auto;
  padding: 8vw;
}
.contact-container .form-container form {
  display: flex;
  flex-direction: column;
}
.contact-container .form-container form input {
  border: 0;
  border-radius: 45px;
  padding: 15px 25px;
  text-align: left;
  margin-top: 1rem;
}
.contact-container .form-container form button {
  background-color: var(--yellow);
  border: 0;
  border-radius: 45px;
  padding: 15px;
  margin-top: 2rem;
  transition: 0.1s ease-in;
}
.contact-container .form-container form button i {
  transform: rotate(-45deg);
  margin-left: 10px;
}
.contact-container .form-container form button:hover {
  background-color: #191919;
  color: var(--beige);
}

iframe {
  width: 100%;
  margin-bottom: -6px;
}